APP_PORT=8080
APP_USERNAME=Arun
APP_USERTITLE=old N00b
APP_USEREMAIL=arun.oslinks@gmail.com

DB_NAME=linksdb
DB_USER=linksuser
DB_PASSWORD=linkspassword
DB_UID=70
DB_GID=70
DB_OPS_ENABLED=true
DB_OPS_SECRET=change-me
DB_BACKUP_RETENTION_DAYS=7
